{% extends "base.html" %}

{% block content %}
    <div>Пользователь - {{current_user.name}}</div>




<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.money.label }}<br>
        {{ form.money(class="form-control") }}<br>
        {% for error in form.money.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>


    <p>
        {{ form.created_date.label }}<br>
        {{ form.created_date(class="form-control") }}<br>
        {% for error in form.created_date.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <p>
{% if current_user.is_authenticated %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
    <p>
{% endif %}
</form>



        {% for item in expenses%}
        <div class="col-md6 border rounded">
        <div>
            {{item.money}} руб.
        </div>
        <div>
            {{item.user.name}}, {{item.created_date}}
        </div>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
        <div>
        </div>
        </div>
    {% endfor %}
{% endblock %}
